// Typefaces
$typeface-sans:  "proxima-nova-soft", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: Georgia, Cambria, "Times New Roman", Times, serif;

a {
  @include transition (all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1 {
  margin-bottom: 0.2em;
  font-size: 3em;
  line-height: 1.15;
  font-weight: normal;
  @include media-ie($breakpoint-desktop) {
    font-size: 4.5em;
  }
}

h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: normal;
  @include media-ie($breakpoint-desktop) {
    font-size: 2.25em;
  }
}

h3 {
  margin-bottom: 0.75em;
  font-size: 1.25em;
  line-height: 1.25;
  font-weight: normal;
  text-transform: uppercase;
  @include media-ie($breakpoint-desktop) {
    font-size: 1.5em;
  }
}

h4 {
  margin-bottom: 0.2em;
  font-size: 1.3125em;
  line-height: 1.25;
  font-weight: normal;
}

h5 {
  margin-bottom: 0.2em;
  font-size: 1.3125em;
  line-height: 1.25;
  font-weight: normal;
}

h6 {}

p,
ul {
  font-size: 1em;
  line-height: 1.5;
}

ul {
  margin-top: 0.5em;
}

li {
  margin-bottom: 0.25em;
}

hr {}
