- title ["Page Not Found (404)"]

.m-logo
  %a{ href: "/" }
    = image_tag "full-logo.png", alt: "Memphis Pediatric Heart", title: "Memphis Pediatric Heart"

%h1 Page Not Found
%p The page you were looking for does not exist. Try the #{link_to 'home page', '/'}.
