.m-intro {
  position: relative;
  overflow-x: hidden;
  width: 100%;

  .bg {
    display: block;
    width: 150%;
    margin-left: -25%;

    img {
      display: block;
      width: 100%;
    }
  }

  .logo {
    position: absolute;
    top: 35%;
    width: 100%;

    img {
      display: block;
      width: 75%;
      margin: 0 auto;
    }
  }

  @include media-ie(480px) {
    .bg {
      width: 100%;
      margin-left: 0;
    }

    .logo img {
      width: 50%;
    }
  }

  .m-actions {
    @include clearfix;
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
    color: $white;

    a {
      float: right;
      font-size: 2em;

      &:first-child {
        float: left;
      }

      &:hover {
        color: $pink;
      }

      @include media($breakpoint-ipad) {
        font-size: 3em;
      }
    }
  }
}
