.m-menu {
  @include outer-container;
  padding: 0 $page-gutter;

  .logo {
    float: left;
    padding-top: 0.6em;

    img {
      display: block;
      width: auto;
      width: 4.75em;
    }
  }

  .toggle {
    float: right;
    text-transform: uppercase;
    padding: 0.6em 0 0.4em;
    color: $white;
    font-size: 1.25em;
  }

  ul {
    list-style: none;
    clear: both;
    display: none;
    margin: 0;
    text-align: center;
    &.is-active { display: block; }
  }

  li {
    display: block;
    margin: 0;
  }

  li a {
    display: block;
    padding: 0.2em 1em;
    color: $white;
    font-size: 1.5em;

    &:hover {
      background: $blue;
    }
  }

  @include media-ie($breakpoint-desktop) {
    .logo,
    .toggle,
    ul {
      font-size: 83.3333333%;
    }

    .logo {
      padding-top: 0.75em;
      margin-right: 1em;
      img { width: 6.75em; }
    }

    .toggle {
      display: none;
    }

    ul {
      margin: 0;
      float: left;
      clear: none;
      display: block !important;
      text-align: left;
    }

    li {
      display: inline-block;
    }

    li a {
      padding: 0.75em 0.9em;
      font-size: 1.25em;
    }
  }
}
