.m-menu {
  @include outer-container;
  // padding: 0 $page-gutter;

  .logo {
    float: left;
    padding: 0.6em $page-gutter 0;

    img {
      display: block;
      width: auto;
      width: 4.75em;
    }
  }

  .toggle {
    float: right;
    text-transform: uppercase;
    padding: 0.6em $page-gutter 0.4em;
    color: $white;
    font-size: 1.25em;
  }

  ul {
    list-style: none;
    clear: both;
    display: none;
    margin: 0;
    text-align: left;
    &.is-active { display: block; }
  }

  li {
    display: block;
    margin: 0;
  }

  li a {
    display: block;
    padding: 0.2em $page-gutter/1.5 0.2em;
    color: $white;
    font-size: 1.5em;
  }

  @for $i from 1 through 10 {
    li:nth-child(0n+#{$i}) a {
      background: darken($blue, $i*3);
    }
  }

  @include media-ie($breakpoint-desktop) {
    .logo,
    .toggle,
    ul {
      font-size: 83.3333333%;
    }

    .logo {
      padding-top: 0.75em;
      margin-right: 1em;
      img { width: 6.75em; }
    }

    .toggle {
      display: none;
    }

    ul {
      margin: 0;
      float: left;
      clear: none;
      display: block !important;
      text-align: left;
    }

    li {
      display: inline-block;
    }

    li a {
      padding: 0.75em 0.9em;
      background: transparent;
      font-size: 1.25em;
    }

    @for $i from 1 through 10 {
      li:nth-child(0n+#{$i}) a {
        background: transparent;
        &:hover { background: $blue; }
      }
    }
  }
}
