.m-patients {
  @include row;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 3em 0;
  background: #3d3b3c;
  color: $white;

  h2,
  h3,
  h4 {
    color: $blue;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    img { width: 100%; }
  }

  @include media-ie($breakpoint-ipad) {
    .content {
      @include span-columns(6);
    }
  }
}
